
body{
  background-color: #E1FFEE;
}

h1{
  color: #98A8F8;
}

h3{
  color: #98A8F8;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;

}
